.leaflet-container {
  height: calc(100vh - 2em);
  width: 90%;
  margin: auto;
}

.sr-only {
  display: none;
}

a {
  text-decoration: none;
}

.card {
  min-width: 50vw;
  margin: 0 25vw;
}

.avatar {
  max-height: 3em;
}